In [1]:
ACCESS_KEY  = 'AKIAXJ2GN4IPYB3ATGKJ'
SECRET_KEY  = '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'
BUCKET_NAME = 'olxgroup-interview'
sc._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", ACCESS_KEY)
sc._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", SECRET_KEY)

In [2]:
from pyspark.sql.types import *
from pyspark.storagelevel import StorageLevel
data_schema = [StructField("user_id", StringType(), True),
              StructField("action_type", StringType(), True),
              StructField("action_ts", DateType(), True),
              StructField("item_id", StringType(), True),
              StructField("device", StringType(), True),
              StructField("b2c", BooleanType(), True)]
olxSchema = StructType(fields=data_schema)

df = spark.read.format('csv').options(delimiter='\t').schema(olxSchema).load('s3://olxgroup-interview/*')
df.persist(StorageLevel.MEMORY_ONLY)
df.printSchema()

In [3]:
df.registerTempTable('olxdata')
display(df.limit(20))

user_id,action_type,action_ts,item_id,device,b2c
fdfaa9996e7ffc8fe48163859fef5f5f,R,2017-01-01,114594148,MA,null
a48296c2697d732abb837a4ad60774f7,R,2017-01-01,111900436,MA,null
826bf92a97447858575bdc520fafc162,R,2017-01-01,114693134,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114660020,MA,null
611dfcb28b1ff0ff7165c3b01fd2d687,R,2017-01-01,111223188,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114453716,MA,null
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697984,DW,null
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697992,DW,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114676622,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114334460,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114261039,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,108454382,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114249729,MA,null
a0e0f012b2a03495fce817c1422403db,R,2017-01-01,104044717,MA,null
b7e5fdebc09d5a3b2baa5fd7a3fb3d56,R,2017-01-01,110944012,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114008430,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114684943,MA,null
a51d08b976d924a48c6ad497e115e9ec,R,2017-01-01,114566063,MA,null
20c79cc10cbabb4c9b11fb5bce534ce6,R,2017-01-01,112940053,MA,null
4df2ea524535af1c3b74d863ea74301b,R,2017-01-01,114305953,MA,null

In [4]:
segmenttable = spark.sql("SELECT user_id, \
                                 CASE \
                                    WHEN DATEDIFF('2017-10-31', latest_ts) > 12*7 THEN 'LOST' \
                                    WHEN DATEDIFF('2017-10-31', latest_ts) > 4*7 THEN 'DORMANT' \
                                    WHEN DATEDIFF('2017-10-31', latest_ts) < 4*7 AND \
                                         DATEDIFF('2017-10-31', earlist_ts) > 8*7 THEN 'REPEAT' \
                                    WHEN DATEDIFF('2017-10-31', latest_ts) > 1*7 THEN 'NOVICE' \
                                    ELSE 'TRIAL' \
                                 END AS segment \
                          FROM (SELECT user_id, MAX(action_ts) as latest_ts, MIN(action_ts) as earlist_ts \
                                FROM olxdata \
                                GROUP BY user_id)")
segmenttable.registerTempTable("segmenttable")
display(segmenttable.limit(20))

user_id,segment
da69e0d7f1c9226dd7b2e60f8d84d565,LOST
20c86f930c54f871ddb5c46159aedd37,REPEAT
8f3b9d34fc900ca5b46e64c21aeaadcf,LOST
6a648a318ec31a5e2ae14ad19a09d3db,DORMANT
9dc2148978863a2911735c622f184351,LOST
c41a9c070067e2a0473ea0dcdff9b00f,LOST
4033e25a498d0021d30638977a065861,LOST
8be434553bee8e46ce338f03bd690c31,DORMANT
b50f0c4b99ea83c7be2a286914d30591,LOST
570d82d6d99c51ccfbe0dd6231fa2b5a,LOST
7983ded5b4322d2f7e9087f29321898f,LOST
90e5d7be72d883081c45311382f25961,LOST
7c5580cae99c4586ad025d11f1aa7329,REPEAT
7983fbe1e1d36d66e8226aba03cf667e,REPEAT
54db715b3464e16f399a605761c446e4,REPEAT
a79e93e3a7f2d4441f470d79356f60c8,LOST
0538c51c1cb79798255169aa6832f96c,LOST
6605a17c13a7f6ce3d265848ac346347,LOST
e46b31babbf5ba58b2e7f737c25821db,LOST
f5803db3f0a2bf65651ef8bb551bfb3b,LOST

In [5]:
display(spark.sql("SELECT segment, COUNT(segment) FROM segmenttable GROUP BY segment"))

segment,count(segment)
REPEAT,263255
LOST,1574552
TRIAL,288643
DORMANT,408930
NOVICE,121914

In [6]:
diff=spark.sql("SELECT posts.item_id, posts.action_ts, posts.action_type, replies.action_ts AS action_ts_r, replies.action_type, \
                       DATEDIFF(replies.action_ts, posts.action_ts) AS Difference \
                FROM (SELECT item_id, action_ts, action_type \
                               FROM olxdata \
                               WHERE action_type == 'P') posts \
                               INNER JOIN (SELECT item_id, action_ts, action_type \
                                           FROM olxdata \
                                           WHERE action_type == 'R') replies \
                               ON posts.item_id = replies.item_id \
                               AND replies.action_ts >= posts.action_ts")
diff.registerTempTable("diff")
display(diff.limit(20))

item_id,action_ts,action_type,action_ts_r,action_type,Difference
114697899,2017-01-01,P,2017-01-05,R,4
114697899,2017-01-01,P,2017-01-02,R,1
114698070,2017-01-01,P,2017-01-01,R,0
114698342,2017-01-01,P,2017-02-07,R,37
114698342,2017-01-01,P,2017-01-27,R,26
114698342,2017-01-01,P,2017-01-22,R,21
114698578,2017-01-01,P,2017-01-21,R,20
114698578,2017-01-01,P,2017-01-05,R,4
114698578,2017-01-01,P,2017-01-18,R,17
114698578,2017-01-01,P,2017-01-27,R,26
114698751,2017-01-01,P,2017-01-01,R,0
114698751,2017-01-01,P,2017-01-01,R,0
114699504,2017-01-01,P,2017-01-01,R,0
114699666,2017-01-01,P,2017-01-03,R,2
114699666,2017-01-01,P,2017-01-23,R,22
114699666,2017-01-01,P,2017-01-07,R,6
114699666,2017-01-01,P,2017-01-04,R,3
114699827,2017-01-01,P,2017-03-31,R,89
114699827,2017-01-01,P,2017-01-27,R,26
114699827,2017-01-01,P,2017-01-31,R,30

In [7]:
factItemLiquidity=spark.sql("SELECT action_ts, \
                                    item_id, \
                                    SUM(CASE WHEN Difference<=1 THEN 1 ELSE 0 END) AS reply_one_day, \
                                    SUM(CASE WHEN Difference<=7 THEN 1 ELSE 0 END) AS reply_seven_days \
                             FROM diff \
                             GROUP BY action_ts, item_id")
factItemLiquidity.registerTempTable("fact_item_liquidity")
display(factItemLiquidity.limit(20))

action_ts,item_id,reply_one_day,reply_seven_days
2017-01-01,114697899,1,2
2017-01-01,114698070,1,1
2017-01-01,114698342,0,0
2017-01-01,114698578,0,1
2017-01-01,114698751,2,2
2017-01-01,114699504,1,1
2017-01-01,114699666,0,3
2017-01-01,114699827,3,3
2017-01-01,114700450,8,12
2017-01-01,114700574,6,18
2017-01-01,114700887,1,1
2017-01-01,114700927,3,7
2017-01-01,114700928,0,0
2017-01-01,114701239,0,1
2017-01-01,114701821,0,1
2017-01-01,114701949,0,1
2017-01-01,114701953,1,1
2017-01-01,114702667,2,2
2017-01-01,114702762,1,5
2017-01-01,114703761,0,2

In [8]:
#Exercies 3
fact_table= spark.sql("SELECT action_ts, COUNT(item_id) AS num_items, \
                              SUM(CASE WHEN reply_one_day >= 1 THEN 1 ELSE 0 END) AS 1_reply_1_days, \
                              SUM(CASE WHEN reply_seven_days >= 3 THEN 1 ELSE 0 END) AS 3_reply_7_days, \
                              SUM(CASE WHEN reply_seven_days >= 5 THEN 1 ELSE 0 END) AS 5_reply_7_days \
                       FROM fact_item_liquidity \
                       GROUP BY action_ts")
fact_table.registerTempTable('fact_table')
display(fact_table.limit(20))

action_ts,num_items,1_reply_1_days,3_reply_7_days,5_reply_7_days
2017-08-11,6105,3091,1553,640
2017-09-11,6710,3713,2131,1171
2017-01-06,8468,4764,2976,1367
2017-01-27,7938,4238,2496,1185
2017-02-26,8042,4518,2575,1141
2017-09-28,5940,3201,1905,1031
2017-01-24,8929,4843,2822,1236
2017-06-29,6697,3537,1794,757
2017-09-29,5614,3143,1841,1003
2017-02-16,7157,3803,2250,1009
2017-07-31,6329,3067,1543,631
2017-08-14,6764,3481,1609,695
2017-08-18,6288,3386,1699,857
2017-10-23,6368,3662,2038,1117
2017-04-09,6919,3556,2160,958
2017-02-28,8677,4676,2701,1186
2017-03-28,8314,4516,2520,1094
2017-09-21,6265,3440,1987,1058
2017-08-10,6608,3281,1674,697
2017-06-30,6166,3085,1627,678

In [9]:
fact_liquidity=spark.sql("SELECT action_ts, \
                                 num_items, \
                                 1_reply_1_days, \
                                 3_reply_7_days, \
                                 5_reply_7_days, \
                                 (1_reply_1_days * 100 / num_items) AS liquidity1_reply_1_days, \
                                 (3_reply_7_days * 100 / num_items) AS liquidity3_reply_7_days, \
                                 (5_reply_7_days * 100 / num_items) AS liquidity5_reply_7_days \
                          FROM fact_table ORDER BY action_ts")
display(fact_liquidity.limit(20))

action_ts,num_items,1_reply_1_days,3_reply_7_days,5_reply_7_days,liquidity1_reply_1_days,liquidity3_reply_7_days,liquidity5_reply_7_days
2017-01-01,4313,2579,1762,873,59.79596568513796,40.853234407604916,20.24113146301878
2017-01-02,7810,4435,2876,1338,56.78617157490397,36.824583866837386,17.131882202304737
2017-01-03,9003,5181,3247,1467,57.547484171942685,36.06575585915806,16.294568477174277
2017-01-04,9025,5289,3245,1482,58.60387811634349,35.95567867036011,16.42105263157895
2017-01-05,9265,5385,3258,1525,58.12196438208311,35.16459794927145,16.45979492714517
2017-01-06,8468,4764,2976,1367,56.25885687293339,35.14407179971658,16.143127066603686
2017-01-07,8062,4592,2800,1305,56.95857107417514,34.7308360208385,16.18705035971223
2017-01-08,8078,4332,2853,1257,53.627135429561775,35.318148056449616,15.560782371874227
2017-01-09,4820,2809,1693,807,58.27800829875519,35.12448132780083,16.74273858921162
2017-01-10,8026,4316,2652,1179,53.77523050087216,33.0426115125841,14.689758285571891
2017-01-11,9232,5025,3006,1312,54.43024263431543,32.560658578856156,14.211438474870018
2017-01-12,8813,4812,2841,1233,54.6011573811415,32.236468852831045,13.990695563372292
2017-01-13,8568,4705,2779,1262,54.913632119514475,32.43464052287582,14.72922502334267
2017-01-14,7733,4241,2527,1101,54.84288115867063,32.67813267813268,14.23768265873529
2017-01-15,7797,4261,2696,1200,54.649224060536106,34.577401564704374,15.390534821085033
2017-01-16,9423,4428,2911,1311,46.99140401146132,30.89249708160883,13.912766634829673
2017-01-17,9643,5108,3112,1359,52.97106709530229,32.27211448719278,14.093124546303018
2017-01-18,8880,4854,2941,1265,54.66216216216216,33.119369369369366,14.245495495495495
2017-01-19,8130,4229,2630,1168,52.017220172201725,32.349323493234934,14.366543665436655
2017-01-20,8761,4738,2969,1301,54.080584408172584,33.88882547654377,14.849902979111974