In [1]:
ACCESS_KEY  = 'AKIAXJ2GN4IPYB3ATGKJ'
SECRET_KEY  = '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'
BUCKET_NAME = 'olxgroup-interview'
sc._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", ACCESS_KEY)
sc._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", SECRET_KEY)

In [2]:
from pyspark.sql.types import *
from pyspark.storagelevel import StorageLevel
data_schema = [StructField("user_id", StringType(), True),
              StructField("action_type", StringType(), True),
              StructField("action_ts", DateType(), True),
              StructField("item_id", StringType(), True),
              StructField("device", StringType(), True),
              StructField("b2c", BooleanType(), True)]
olxSchema = StructType(fields=data_schema)

df = spark.read.format('csv').options(delimiter='\t').schema(olxSchema).load('s3://olxgroup-interview/*')
df.persist(StorageLevel.MEMORY_ONLY)
df.printSchema()

In [3]:
df.registerTempTable('olxdata')
display(df.limit(20))

user_id,action_type,action_ts,item_id,device,b2c
fdfaa9996e7ffc8fe48163859fef5f5f,R,2017-01-01,114594148,MA,null
a48296c2697d732abb837a4ad60774f7,R,2017-01-01,111900436,MA,null
826bf92a97447858575bdc520fafc162,R,2017-01-01,114693134,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114660020,MA,null
611dfcb28b1ff0ff7165c3b01fd2d687,R,2017-01-01,111223188,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114453716,MA,null
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697984,DW,null
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697992,DW,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114676622,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114334460,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114261039,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,108454382,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114249729,MA,null
a0e0f012b2a03495fce817c1422403db,R,2017-01-01,104044717,MA,null
b7e5fdebc09d5a3b2baa5fd7a3fb3d56,R,2017-01-01,110944012,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114008430,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114684943,MA,null
a51d08b976d924a48c6ad497e115e9ec,R,2017-01-01,114566063,MA,null
20c79cc10cbabb4c9b11fb5bce534ce6,R,2017-01-01,112940053,MA,null
4df2ea524535af1c3b74d863ea74301b,R,2017-01-01,114305953,MA,null

In [4]:
posts_replys_12weeks = spark.sql("SELECT * \
                                  FROM olxdata \
                                  WHERE action_ts >= '2017-08-08' AND action_ts <= '2017-10-31'")
posts_replys_12weeks.registerTempTable("posts_replys_12weeks")
display(posts_replys_12weeks.limit(20))

user_id,action_type,action_ts,item_id,device,b2c
700706c50ff666617806af811c71445d,R,2017-08-08,119128003,MA,null
700706c50ff666617806af811c71445d,R,2017-08-08,119054347,MA,null
ad4d09c0a83f8c33580f8207a3e6e4c4,R,2017-08-08,119144025,MA,null
2995c5b4d93d7267526ecd719a4aef63,P,2017-08-08,119209019,MA,null
3032d6c3286c0447c6902744ef2c2732,R,2017-08-08,119141122,MA,null
a3bd31ff7ea60141a1872a014c086c3a,R,2017-08-08,118984594,MW,null
48c1d98c301ad0631251d198f84926bb,R,2017-08-08,118740230,MA,null
94a72d48cf4753a5b9c1c11f53f2346e,R,2017-08-08,118496359,MW,null
94a72d48cf4753a5b9c1c11f53f2346e,R,2017-08-08,119055007,MW,null
94a72d48cf4753a5b9c1c11f53f2346e,R,2017-08-08,119010140,MW,null
326f4f6ccaa447fc530736f49b5514a0,R,2017-08-08,119127746,MA,null
1334b64a20e664b4b4c506329c30fca5,R,2017-08-08,118834571,MW,null
a29eee72f1bc8945e6177c1e36b89f46,R,2017-08-08,119205052,MA,null
032494f251717991b5ea417fc76ec4f8,R,2017-08-08,119145673,MA,null
ac6d2200153ad5293aae5132c1a1a83d,R,2017-08-08,119202634,MA,null
f8cdf9a1f6b47caf9165f13d1e39c00f,P,2017-08-08,119209984,MA,null
63f008df45d9409597054add3dee826d,R,2017-08-08,119108600,MA,null
63f008df45d9409597054add3dee826d,R,2017-08-08,118442575,MA,null
8368f9a91905bac3b9fff8078b32fcf8,P,2017-08-08,119210001,MA,null
745eb0c3ec75c752f680e81a7aab6b83,R,2017-08-08,119210053,MA,null

In [5]:
#Lost Customers
lost=all_user_id.subtract(posts_replys_12weeks.groupBy('user_id').count().select('user_id'))
print(f'\n\nLost Customers: {lost.count()}\n\n')

In [6]:
posts_replys_4weeks=spark.sql("SELECT DISTINCT user_id \
                        FROM (SELECT user_id \
                              FROM posts_replys_12weeks \
                              WHERE action_ts \
                              BETWEEN '2017-10-03' AND '2017-10-31') \
                        GROUP BY user_id")
posts_replys_4weeks.registerTempTable("posts_replys_4weeks")

In [7]:
user_id_12weeks=spark.sql("SELECT DISTINCT user_id FROM posts_replys_12weeks")
Dormant=user_id_12weeks.subtract(posts_replys_4weeks.groupBy('user_id').count().select('user_id'))
print(f'\n\nDormant Customers: {Dormant.count()}\n\n')

In [8]:
Atleast8weeks=spark.sql("SELECT DISTINCT user_id \
                        FROM (SELECT user_id \
                              FROM posts_replys_12weeks \
                              WHERE action_ts < '2017-09-05') \
                        GROUP BY user_id")
Atleast8weeks.registerTempTable("Atleast8weeks")

In [9]:
# Repeat Customers
Repeat=spark.sql("SELECT p.user_id \
                  FROM posts_replys_4weeks p \
                  JOIN Atleast8weeks a \
                    ON p.user_id=a.user_id")
print(f"\n\nRepeat Customer: {Repeat.count()}\n\n")

In [10]:
#Novice
Novice=spark.sql("SELECT DISTINCT user_id \
                   FROM (SELECT user_id \
                         FROM posts_replys_12weeks \
                         WHERE action_ts \
                         BETWEEN '2017-10-03' AND '2017-10-24') \
                   GROUP BY user_id")
Novice.registerTempTable("Novice")
print(f'\n\nNovice Customers: {Novice.count()}\n\n')

In [11]:
# Trial 
current_postings=spark.sql("SELECT user_id, COUNT(user_id) \
                 FROM (SELECT user_id \
                       FROM posts_replys_12weeks \
                       WHERE action_ts = '2017-10-31') \
                 GROUP BY user_id \
                 HAVING COUNT(user_id) = 1")

In [12]:
not_trial=spark.sql("SELECT user_id \
                 FROM (SELECT user_id \
                       FROM olxdata \
                       WHERE action_ts != '2017-10-31') \
                 GROUP BY user_id ")
Trial=current_postings.select("user_id").subtract(not_trial)
print(f'\n\nTrial Customers: {Trial.count()}\n\n')

In [13]:
# Exercies 2
posts=spark.sql("SELECT * FROM olxdata where action_type == 'P'")
posts.registerTempTable('post_data')
display(posts.limit(20))

user_id,action_type,action_ts,item_id,device,b2c
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697984,DW,null
75dc627c4e89b2eaff860c18378da088,P,2017-01-01,114697992,DW,null
aeb444ffb2f123ec8753a472e0a49f8f,P,2017-01-01,114698313,MA,null
7b5692574b57b4e7fca468ff65a64357,P,2017-01-01,114698564,DW,null
45e0caa713475bb71994c7eebf6d218e,P,2017-01-01,114698621,MA,null
ebfd041a054ba4f3ebd3e98b4b0a762f,P,2017-01-01,114698711,MW,null
9b3313ad881f8aa396a2ba9cf2fd4b6b,P,2017-01-01,114698878,MA,null
9b3313ad881f8aa396a2ba9cf2fd4b6b,P,2017-01-01,114698904,MA,null
9b3313ad881f8aa396a2ba9cf2fd4b6b,P,2017-01-01,114698933,MA,null
7a87b88b131584581fee3f68e43ce2d1,P,2017-01-01,114699293,MA,null
7a87b88b131584581fee3f68e43ce2d1,P,2017-01-01,114699320,MA,null
9b3313ad881f8aa396a2ba9cf2fd4b6b,P,2017-01-01,114699640,MA,null
9b3313ad881f8aa396a2ba9cf2fd4b6b,P,2017-01-01,114699668,MA,null
4a50ca86ad580fef46542c0c52408ffc,P,2017-01-01,114699682,MA,null
38c4923f4dddf6853236fda4b84589a8,P,2017-01-01,114699767,MA,null
9e1b0b6a97d878cfdb8265e42e2e97f4,P,2017-01-01,114699865,MA,null
9d5e8eb1afb2bc2c6aea94f1807612da,P,2017-01-01,114699878,MA,null
010d487175c1c4667ca7a620c1f037dd,P,2017-01-01,114700054,MA,null
53b5c6380fa5263d23d3cbe047de4e71,P,2017-01-01,114700218,MW,null
53b5c6380fa5263d23d3cbe047de4e71,P,2017-01-01,114700273,MW,null

In [14]:
replys=spark.sql("SELECT * FROM olxdata where action_type == 'R'")
replys.registerTempTable('reply_data')
display(replys.limit(20))

user_id,action_type,action_ts,item_id,device,b2c
fdfaa9996e7ffc8fe48163859fef5f5f,R,2017-01-01,114594148,MA,null
a48296c2697d732abb837a4ad60774f7,R,2017-01-01,111900436,MA,null
826bf92a97447858575bdc520fafc162,R,2017-01-01,114693134,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114660020,MA,null
611dfcb28b1ff0ff7165c3b01fd2d687,R,2017-01-01,111223188,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,114453716,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114676622,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114334460,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114261039,MA,null
28ee961c18a2b2d083a231b6ffa27109,R,2017-01-01,108454382,MA,null
609877b8038087c64048b2f1c7f1400f,R,2017-01-01,114249729,MA,null
a0e0f012b2a03495fce817c1422403db,R,2017-01-01,104044717,MA,null
b7e5fdebc09d5a3b2baa5fd7a3fb3d56,R,2017-01-01,110944012,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114008430,MA,null
04bafad89e81e01da536322e06f72315,R,2017-01-01,114684943,MA,null
a51d08b976d924a48c6ad497e115e9ec,R,2017-01-01,114566063,MA,null
20c79cc10cbabb4c9b11fb5bce534ce6,R,2017-01-01,112940053,MA,null
4df2ea524535af1c3b74d863ea74301b,R,2017-01-01,114305953,MA,null
eab5aa12bb0001cc7e2f79164b41f953,R,2017-01-01,113506075,MA,null
eab5aa12bb0001cc7e2f79164b41f953,R,2017-01-01,114464796,MA,null

In [15]:
posts_replys_data = spark.sql("SELECT p.item_id, p.action_type, p.action_ts, r.action_type AS action_type_r, r.action_ts AS action_ts_r \
                               FROM post_data p \
                               JOIN reply_data r \
                                 ON p.item_id = r.item_id")
posts_replys_data.registerTempTable("posts_replys")
display(posts_replys_data.limit(20))

item_id,action_type,action_ts,action_type_r,action_ts_r
114697899,P,2017-01-01,R,2017-01-05
114697899,P,2017-01-01,R,2017-01-02
114698070,P,2017-01-01,R,2017-01-01
114698342,P,2017-01-01,R,2017-02-07
114698342,P,2017-01-01,R,2017-01-27
114698342,P,2017-01-01,R,2017-01-22
114698578,P,2017-01-01,R,2017-01-21
114698578,P,2017-01-01,R,2017-01-05
114698578,P,2017-01-01,R,2017-01-18
114698578,P,2017-01-01,R,2017-01-27
114698751,P,2017-01-01,R,2017-01-01
114698751,P,2017-01-01,R,2017-01-01
114699504,P,2017-01-01,R,2017-01-01
114699666,P,2017-01-01,R,2017-01-03
114699666,P,2017-01-01,R,2017-01-23
114699666,P,2017-01-01,R,2017-01-07
114699666,P,2017-01-01,R,2017-01-04
114699827,P,2017-01-01,R,2017-03-31
114699827,P,2017-01-01,R,2017-01-27
114699827,P,2017-01-01,R,2017-01-31

In [16]:
date_diff = spark.sql("SELECT item_id, action_type, action_ts, action_type_r, action_ts_r, DATEDIFF(action_ts_r, action_ts) AS Difference \
                       FROM posts_replys \
                       ORDER BY Difference DESC")
date_diff.registerTempTable('date_difference')
display(date_diff.limit(20))

item_id,action_type,action_ts,action_type_r,action_ts_r,Difference
114710103,P,2017-01-02,R,2017-11-28,330
114711865,P,2017-01-02,R,2017-11-28,330
114698488,P,2017-01-01,R,2017-11-27,330
114698921,P,2017-01-01,R,2017-11-27,330
114704236,P,2017-01-01,R,2017-11-27,330
114702089,P,2017-01-01,R,2017-11-27,330
114715604,P,2017-01-02,R,2017-11-27,329
114711824,P,2017-01-02,R,2017-11-27,329
114724591,P,2017-01-02,R,2017-11-27,329
114711795,P,2017-01-02,R,2017-11-27,329
114724339,P,2017-01-02,R,2017-11-27,329
114711824,P,2017-01-02,R,2017-11-27,329
114724675,P,2017-01-02,R,2017-11-27,329
114711795,P,2017-01-02,R,2017-11-27,329
114711795,P,2017-01-02,R,2017-11-27,329
114711795,P,2017-01-02,R,2017-11-27,329
114711795,P,2017-01-02,R,2017-11-27,329
114724675,P,2017-01-02,R,2017-11-27,329
114712765,P,2017-01-02,R,2017-11-26,328
114711795,P,2017-01-02,R,2017-11-26,328

In [17]:
NumReplyOneDay = spark.sql("SELECT item_id, action_ts, count(item_id) AS reply_one_day \
                           FROM (SELECT * FROM date_difference \
                                 WHERE Difference <=1) \
                           GROUP BY item_id, action_ts \
                           ORDER BY reply_one_day \
                           DESC")
NumReplyOneDay.registerTempTable("replys_in_one_day")
display(NumReplyOneDay.limit(20))

item_id,action_ts,reply_one_day
121008028,2017-11-23,576
121013446,2017-11-23,293
119743402,2017-09-07,200
120369629,2017-10-12,152
121029149,2017-11-24,146
116225814,2017-03-08,139
120798559,2017-11-09,134
115430981,2017-02-02,129
120372060,2017-10-13,113
120248198,2017-10-06,110
120271983,2017-10-07,103
119806550,2017-09-10,101
115481197,2017-02-04,100
121024497,2017-11-24,100
115504009,2017-02-05,98
121054344,2017-11-25,88
120357182,2017-10-12,83
120372016,2017-10-13,81
120063945,2017-09-25,80
120150538,2017-09-30,76

In [18]:
NumReplySevenDay = spark.sql("SELECT item_id, action_ts, count(item_id) AS reply_seven_days \
                              FROM (SELECT * FROM date_difference \
                                    WHERE Difference <=7) \
                              GROUP BY item_id, action_ts \
                              ORDER BY reply_seven_days \
                              DESC")
NumReplySevenDay.registerTempTable("replys_in_seven_days")
display(NumReplySevenDay.limit(20))

item_id,action_ts,reply_seven_days
121008028,2017-11-23,576
116225814,2017-03-08,382
121013446,2017-11-23,293
115936881,2017-02-24,249
120372060,2017-10-13,249
119743402,2017-09-07,248
121029149,2017-11-24,210
115430981,2017-02-02,200
115481197,2017-02-04,188
119806550,2017-09-10,185
120372016,2017-10-13,179
120347431,2017-10-11,170
114739040,2017-01-03,170
115074094,2017-01-17,169
114887009,2017-01-10,169
117234981,2017-04-25,168
116677742,2017-03-28,157
120369629,2017-10-12,154
120161181,2017-10-01,151
120798559,2017-11-09,144

In [19]:
factItemLiquidity = spark.sql("SELECT r7.action_ts, r7.item_id, r7.reply_seven_days, r1.reply_one_day \
                                FROM replys_in_seven_days r7 \
                                LEFT JOIN replys_in_one_day r1\
                                  ON r7.item_id = r1.item_id")
factItemLiquidity.registerTempTable("fact_item_liquidity")
display(factItemLiquidity.limit(20))

action_ts,item_id,reply_seven_days,reply_one_day
2017-01-01,114697899,2,1
2017-01-01,114698070,1,1
2017-01-01,114698578,1,null
2017-01-01,114698751,2,2
2017-01-01,114699504,1,1
2017-01-01,114699666,3,null
2017-01-01,114699827,3,3
2017-01-01,114700450,12,8
2017-01-01,114700574,18,6
2017-01-01,114700887,1,1
2017-01-01,114700927,7,3
2017-01-01,114701239,1,null
2017-01-01,114701821,1,null
2017-01-01,114701949,1,null
2017-01-01,114701953,1,1
2017-01-01,114702667,2,2
2017-01-01,114702762,5,1
2017-01-01,114703761,2,null
2017-01-01,114703832,2,2
2017-01-01,114704045,2,2

In [20]:
#Exercies 3
fact_table= spark.sql("SELECT action_ts, item_id, \
                              CASE \
                                  WHEN reply_one_day < 1 THEN NULL \
                                  ELSE reply_one_day \
                              END AS 1_reply_1_days, \
                              CASE \
                                  WHEN reply_seven_days < 3 THEN NULL \
                                  ELSE reply_seven_days \
                              END AS 3_reply_7_days, \
                              CASE \
                                  WHEN reply_seven_days < 5 THEN NULL \
                                  ELSE reply_seven_days \
                              END AS 5_reply_7_days \
                       FROM fact_item_liquidity \
                       WHERE reply_one_day IS NOT NULL \
                       ORDER BY reply_one_day \
                       DESC")
fact_table.registerTempTable('fact_table')
display(fact_table.limit(20))

action_ts,item_id,1_reply_1_days,3_reply_7_days,5_reply_7_days
2017-11-23,121008028,576,576,576
2017-11-23,121013446,293,293,293
2017-09-07,119743402,200,248,248
2017-10-12,120369629,152,154,154
2017-11-24,121029149,146,210,210
2017-03-08,116225814,139,382,382
2017-11-09,120798559,134,144,144
2017-02-02,115430981,129,200,200
2017-10-13,120372060,113,249,249
2017-10-06,120248198,110,110,110
2017-10-07,120271983,103,104,104
2017-09-10,119806550,101,185,185
2017-11-24,121024497,100,100,100
2017-02-04,115481197,100,188,188
2017-02-05,115504009,98,105,105
2017-11-25,121054344,88,89,89
2017-10-12,120357182,83,83,83
2017-10-13,120372016,81,179,179
2017-09-25,120063945,80,80,80
2017-09-30,120150538,76,83,83

In [21]:
total_posts = spark.sql("SELECT action_ts, count(action_ts) AS total_posts FROM fact_table GROUP BY action_ts")
total_posts.registerTempTable("total_posts")
display(total_posts.limit(20))

action_ts,total_posts
2017-09-11,3713
2017-08-11,3091
2017-01-06,4764
2017-01-27,4238
2017-02-26,4518
2017-09-28,3201
2017-01-24,4843
2017-09-29,3143
2017-06-29,3537
2017-02-16,3803
2017-07-31,3067
2017-08-18,3386
2017-10-23,3662
2017-08-14,3481
2017-04-09,3556
2017-09-21,3440
2017-02-28,4676
2017-03-28,4516
2017-08-10,3281
2017-08-19,3425

In [22]:
temp=spark.sql("SELECT f.action_ts, f.item_id, f.1_reply_1_days, f.3_reply_7_days, f.5_reply_7_days, t.total_posts \
                FROM fact_table f \
                JOIN total_posts t \
                  ON f.action_ts = t.action_ts")
temp.registerTempTable("temp")
display(temp.limit(20))

action_ts,item_id,1_reply_1_days,3_reply_7_days,5_reply_7_days,total_posts
2017-08-11,119268591,38,38,38,3091
2017-08-11,119269103,19,47,47,3091
2017-08-11,119264394,17,17,17,3091
2017-08-11,119264674,16,20,20,3091
2017-08-11,119271605,15,24,24,3091
2017-08-11,119268362,14,21,21,3091
2017-08-11,119272193,14,17,17,3091
2017-08-11,119268929,14,20,20,3091
2017-08-11,119268554,12,33,33,3091
2017-08-11,119275057,12,18,18,3091
2017-08-11,119268323,12,35,35,3091
2017-08-11,119268735,12,17,17,3091
2017-08-11,119265157,11,13,13,3091
2017-08-11,119277338,11,15,15,3091
2017-08-11,119263242,11,16,16,3091
2017-08-11,119262864,11,11,11,3091
2017-08-11,119275950,10,18,18,3091
2017-08-11,119268296,10,11,11,3091
2017-08-11,119263382,10,19,19,3091
2017-08-11,119267268,10,12,12,3091

In [23]:
fact_liquidity=spark.sql("SELECT action_ts, \
                                 item_id, \
                                 1_reply_1_days, \
                                 3_reply_7_days, \
                                 5_reply_7_days, \
                                 (1_reply_1_days / total_posts) AS liquidity1_reply_1_days, \
                                 (3_reply_7_days / total_posts) AS liquidity1_reply_3_days, \
                                 (5_reply_7_days / total_posts) AS liquidity1_reply_5_days \
                          FROM temp ORDER BY 1_reply_1_days DESC")
display(fact_liquidity.limit(20))

action_ts,item_id,1_reply_1_days,3_reply_7_days,5_reply_7_days,liquidity1_reply_1_days,liquidity1_reply_3_days,liquidity1_reply_5_days
2017-11-23,121008028,576,576,576,0.15475550779150993,0.15475550779150993,0.15475550779150993
2017-11-23,121013446,293,293,293,0.07872111767866738,0.07872111767866738,0.07872111767866738
2017-09-07,119743402,200,248,248,0.053149083178315175,0.06590486314111081,0.06590486314111081
2017-10-12,120369629,152,154,154,0.0414960414960415,0.042042042042042045,0.042042042042042045
2017-11-24,121029149,146,210,210,0.03895410885805763,0.056029882604055496,0.056029882604055496
2017-03-08,116225814,139,382,382,0.0286479802143446,0.07873042044517725,0.07873042044517725
2017-11-09,120798559,134,144,144,0.035915304207987137,0.03859555079067274,0.03859555079067274
2017-02-02,115430981,129,200,200,0.024831568816169394,0.03849855630413859,0.03849855630413859
2017-10-13,120372060,113,249,249,0.033661006851355375,0.0741733690795353,0.0741733690795353
2017-10-06,120248198,110,110,110,0.031117397454031116,0.031117397454031116,0.031117397454031116
2017-10-07,120271983,103,104,104,0.030196423336265026,0.03048959249486954,0.03048959249486954
2017-09-10,119806550,101,185,185,0.029618768328445746,0.054252199413489736,0.054252199413489736
2017-11-24,121024497,100,100,100,0.026680896478121666,0.026680896478121666,0.026680896478121666
2017-02-04,115481197,100,188,188,0.019496977968414896,0.03665431858062,0.03665431858062
2017-02-05,115504009,98,105,105,0.019934906427990236,0.021358828315703824,0.021358828315703824
2017-11-25,121054344,88,89,89,0.02467059153350154,0.02495093916456406,0.02495093916456406
2017-10-12,120357182,83,83,83,0.02265902265902266,0.02265902265902266,0.02265902265902266
2017-10-13,120372016,81,179,179,0.024128686327077747,0.053321417932677986,0.053321417932677986
2017-09-25,120063945,80,80,80,0.02342606149341142,0.02342606149341142,0.02342606149341142
2017-09-30,120150538,76,83,83,0.025867937372362152,0.02825051055139551,0.02825051055139551