In [1]:
ACCESS_KEY  = 'AKIAXJ2GN4IPYB3ATGKJ'
SECRET_KEY  = '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'
BUCKET_NAME = 'olxgroup-interview'
sc._jsc.hadoopConfiguration().set("fs.s3n.awsAccessKeyId", ACCESS_KEY)
sc._jsc.hadoopConfiguration().set("fs.s3n.awsSecretAccessKey", SECRET_KEY)

In [2]:
from pyspark.sql.types import *
from pyspark.storagelevel import StorageLevel
data_schema = [StructField("user_id", StringType(), True),
              StructField("action_type", StringType(), True),
              StructField("action_ts", DateType(), True),
              StructField("item_id", StringType(), True),
              StructField("device", StringType(), True),
              StructField("b2c", BooleanType(), True)]
olxSchema = StructType(fields=data_schema)

df = spark.read.format('csv').options(delimiter='\t').schema(olxSchema).load('s3://olxgroup-interview/*')
df.persist(StorageLevel.MEMORY_ONLY)
df.printSchema()

In [3]:
df.registerTempTable('olxdata')
df.show()

In [4]:
posts_replys_12weeks = spark.sql("SELECT * \
                                  FROM olxdata \
                                  WHERE action_ts >= '2017-08-08' AND action_ts <= '2017-10-31'")
posts_replys_12weeks.registerTempTable("posts_replys_12weeks")
posts_replys_12weeks.show()

In [5]:
#Lost Customers
lost=all_user_id.subtract(posts_replys_12weeks.groupBy('user_id').count().select('user_id'))
print(f'\n\nLost Customers: {lost.count()}\n\n')

In [6]:
posts_replys_4weeks=spark.sql("SELECT DISTINCT user_id \
                        FROM (SELECT user_id \
                              FROM posts_replys_12weeks \
                              WHERE action_ts \
                              BETWEEN '2017-10-03' AND '2017-10-31') \
                        GROUP BY user_id")
posts_replys_4weeks.registerTempTable("posts_replys_4weeks")

In [7]:
user_id_12weeks=spark.sql("SELECT DISTINCT user_id FROM posts_replys_12weeks")
Dormant=user_id_12weeks.subtract(posts_replys_4weeks.groupBy('user_id').count().select('user_id'))
print(f'\n\nDormant Customers: {Dormant.count()}\n\n')

In [8]:
Atleast8weeks=spark.sql("SELECT DISTINCT user_id \
                        FROM (SELECT user_id \
                              FROM posts_replys_12weeks \
                              WHERE action_ts < '2017-09-05') \
                        GROUP BY user_id")
Atleast8weeks.registerTempTable("Atleast8weeks")

In [9]:
# Repeat Customers
Repeat=spark.sql("SELECT p.user_id \
                  FROM posts_replys_4weeks p \
                  JOIN Atleast8weeks a \
                    ON p.user_id=a.user_id")
print(f"\n\nRepeat Customer: {Repeat.count()}\n\n")

In [10]:
#Novice
Novice=spark.sql("SELECT DISTINCT user_id \
                   FROM (SELECT user_id \
                         FROM posts_replys_12weeks \
                         WHERE action_ts \
                         BETWEEN '2017-10-03' AND '2017-10-24') \
                   GROUP BY user_id")
Novice.registerTempTable("Novice")
print(f'\n\nNovice Customers: {Novice.count()}\n\n')

In [11]:
# Trial 
current_postings=spark.sql("SELECT user_id, COUNT(user_id) \
                 FROM (SELECT user_id \
                       FROM posts_replys_12weeks \
                       WHERE action_ts = '2017-10-31') \
                 GROUP BY user_id \
                 HAVING COUNT(user_id) = 1")

In [12]:
not_trial=spark.sql("SELECT user_id \
                 FROM (SELECT user_id \
                       FROM olxdata \
                       WHERE action_ts != '2017-10-31') \
                 GROUP BY user_id ")
Trial=current_postings.select("user_id").subtract(not_trial)
print(f'\n\nTrial Customers: {Trial.count()}\n\n')

In [13]:
# Exercies 2
posts=spark.sql("SELECT * FROM olxdata where action_type == 'P'")
posts.registerTempTable('post_data')
posts.show()

In [14]:
replys=spark.sql("SELECT * FROM olxdata where action_type == 'R'")
replys.registerTempTable('reply_data')
replys.show()

In [15]:
posts_replys_data = spark.sql("SELECT p.item_id, p.action_type, p.action_ts, r.action_type AS action_type_r, r.action_ts AS action_ts_r \
                               FROM post_data p \
                               JOIN reply_data r \
                                 ON p.item_id = r.item_id")
posts_replys_data.registerTempTable("posts_replys")
posts_replys_data.show()

In [16]:
date_diff = spark.sql("SELECT item_id, action_type, action_ts, action_type_r, action_ts_r, DATEDIFF(action_ts_r, action_ts) AS Difference \
                       FROM posts_replys \
                       ORDER BY Difference DESC")
date_diff.registerTempTable('date_difference')
date_diff.show()

In [17]:
NumReplyOneDay = spark.sql("SELECT item_id, action_ts, count(item_id) AS reply_one_day \
                           FROM (SELECT * FROM date_difference \
                                 WHERE Difference <=1) \
                           GROUP BY item_id, action_ts \
                           ORDER BY reply_one_day \
                           DESC")
NumReplyOneDay.registerTempTable("replys_in_one_day")
NumReplyOneDay.show()

In [18]:
NumReplySevenDay = spark.sql("SELECT item_id, action_ts, count(item_id) AS reply_seven_days \
                              FROM (SELECT * FROM date_difference \
                                    WHERE Difference <=7) \
                              GROUP BY item_id, action_ts \
                              ORDER BY reply_seven_days \
                              DESC")
NumReplySevenDay.registerTempTable("replys_in_seven_days")
NumReplySevenDay.show()

In [19]:
factItemLiquidity = spark.sql("SELECT r7.action_ts, r7.item_id, r7.reply_seven_days, r1.reply_one_day \
                                FROM replys_in_seven_days r7 \
                                LEFT JOIN replys_in_one_day r1\
                                  ON r7.item_id = r1.item_id")
factItemLiquidity.registerTempTable("fact_item_liquidity")
factItemLiquidity.show()

In [20]:
#Exercies 3
fact_table= spark.sql("SELECT action_ts, item_id, \
                              CASE \
                                  WHEN reply_one_day < 1 THEN NULL \
                                  ELSE reply_one_day \
                              END AS 1_reply_1_days, \
                              CASE \
                                  WHEN reply_seven_days < 3 THEN NULL \
                                  ELSE reply_seven_days \
                              END AS 3_reply_7_days, \
                              CASE \
                                  WHEN reply_seven_days < 5 THEN NULL \
                                  ELSE reply_seven_days \
                              END AS 5_reply_7_days \
                       FROM fact_item_liquidity \
                       WHERE reply_one_day IS NOT NULL \
                       ORDER BY reply_one_day \
                       DESC")
fact_table.registerTempTable('fact_table')
fact_table.show()

In [21]:
total_posts = spark.sql("SELECT action_ts, count(action_ts) AS total_posts FROM fact_table GROUP BY action_ts")
total_posts.registerTempTable("total_posts")
total_posts.show()

In [22]:
temp=spark.sql("SELECT f.action_ts, f.item_id, f.1_reply_1_days, f.3_reply_7_days, f.5_reply_7_days, t.total_posts \
                FROM fact_table f \
                JOIN total_posts t \
                  ON f.action_ts = t.action_ts")
temp.registerTempTable("temp")
temp.show()

In [23]:
fact_liquidity=spark.sql("SELECT action_ts, \
                                 item_id, \
                                 1_reply_1_days, \
                                 3_reply_7_days, \
                                 5_reply_7_days, \
                                 (1_reply_1_days / total_posts) AS liquidity1_reply_1_days, \
                                 (3_reply_7_days / total_posts) AS liquidity1_reply_3_days, \
                                 (5_reply_7_days / total_posts) AS liquidity1_reply_5_days \
                          FROM temp ORDER BY 1_reply_1_days DESC")
fact_liquidity.show()